@font-face {
    font-family: "happy";
    src: url("fonts/One Starry Night Font.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "birthday";
    src: url("fonts/Sunny Winter.ttf");
    font-weight: normal;
}

@keyframes spin-1 {
    100% {
        transform: rotate3d(0, 0, 0, 360deg);
    }
}

@keyframes spin-2 {
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes spin-3 {
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes spin-4 {
    100% {
        transform: rotate3d(0, 1, 1, 360deg);
    }
}

@keyframes spin-5 {
    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

@keyframes spin-6 {
    100% {
        transform: rotate3d(1, 0, 1, 360deg);
    }
}

@keyframes spin-7 {
    100% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}

@keyframes spin-8 {
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

body.xm {
    overflow: hidden!important;
}

.lma {
    background: url(images/silver-globes.png) repeat-x, url(images/background.png) repeat;
    background-position: left 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #B21212;
}

.lma h1 {
    color: #000;
    font: 130px "happy";
    text-align: center;
    line-height: 133px;
    text-shadow: 1px 1px 5px #fff;
}
.lma h1:first-of-type {
	padding-top: 26%;
}

.lma h1+h1 {
    font-size: 200px;
}

.lma h2 {
    font: 30px "birthday";
    text-align: right;
    padding-right: 700px;
    margin-top: -80px;
}

.lma .tree {
    background: url(images/tree.png) no-repeat;
    background-position: 10% center;
    background-size: auto 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.lma .santa {
    background: url(images/santa.png) no-repeat;
    background-position: center center;
    background-size: auto 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.snowfall-flakes {
    border-radius: 100%;
    animation: spin 10s linear infinite;
    opacity: 0.75;
    transition: opacity 5s ease-in-out;
}